* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}