body {
  margin: 20px;
  padding: 0;
  font-size: 2.5em;
}

.container {
  background-color: #F0F0F0;
}

.box {
  padding: 40px 55px;
  margin: 15px 0;
  background-color: #00AFEF;
  color: #fff;
  text-align: center;
  border: solid 1px #777;
}

.box:nth-child(2),
.box:nth-child(4) {
  background-color: #005270;
}
